USE [master]
GO
/****** Object:  Database [ttn_ex3]    Script Date: 3/17/2021 10:50:51 AM ******/
CREATE DATABASE [ttn_ex3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ttn_ex3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ttn_ex3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ttn_ex3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ttn_ex3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ttn_ex3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ttn_ex3]
GO
USE [ttn_ex3]
GO
/****** Object:  Sequence [dbo].[Sach_seq]    Script Date: 3/17/2021 10:50:51 AM ******/
CREATE SEQUENCE [dbo].[Sach_seq] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[CT_MuonTra]    Script Date: 3/17/2021 10:50:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_MuonTra](
	[MaMuon] [char](10) NULL,
	[MaSach] [char](10) NULL,
	[NgayTra] [datetime] NULL,
	[Da_Tra] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 3/17/2021 10:50:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[MaDG] [char](10) NOT NULL,
	[TenDocGia] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SoThe] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MuonTra]    Script Date: 3/17/2021 10:50:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuonTra](
	[MaMuon] [char](10) NOT NULL,
	[NgayMuon] [datetime] NULL,
	[NgayHenTra] [datetime] NULL,
	[TinhTrang] [bit] NULL,
	[SoThe] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 3/17/2021 10:50:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [char](10) NOT NULL,
	[TenSach] [nvarchar](50) NULL,
	[TenTheLoai] [nvarchar](50) NULL,
	[TenTacGia] [nvarchar](50) NULL,
	[TenNXB] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheThuVien]    Script Date: 3/17/2021 10:50:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheThuVien](
	[SoThe] [char](10) NOT NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayHetHan] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_MuonTra] ADD  DEFAULT (NULL) FOR [NgayTra]
GO
ALTER TABLE [dbo].[MuonTra] ADD  DEFAULT (getdate()) FOR [NgayMuon]
GO
ALTER TABLE [dbo].[CT_MuonTra]  WITH CHECK ADD FOREIGN KEY([MaMuon])
REFERENCES [dbo].[MuonTra] ([MaMuon])
GO
ALTER TABLE [dbo].[CT_MuonTra]  WITH CHECK ADD FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[DocGia]  WITH CHECK ADD FOREIGN KEY([SoThe])
REFERENCES [dbo].[TheThuVien] ([SoThe])
GO
ALTER TABLE [dbo].[MuonTra]  WITH CHECK ADD FOREIGN KEY([SoThe])
REFERENCES [dbo].[TheThuVien] ([SoThe])
GO
/****** Object:  StoredProcedure [dbo].[ThemMoiSach]    Script Date: 3/17/2021 10:50:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ThemMoiSach]
	@tenSach nvarchar(50),
	@tenTheLoai nvarchar(50),
	@tenTacGia nvarchar(50),
	@tenNXB nvarchar(50),
	@soLuong int
as 
begin
	insert into SACH
	(
		MaSach, TenSach, TenTheLoai, TenTacGia, TenNXB, SoLuong
	)values(
		'MS' + cast(next value for Sach_seq as char(4)),
		@tenSach,
		@tenTheLoai,
		@tenTacGia,
		@tenNXB,
		@soLuong
		);

		if @@ROWCOUNT > 0 begin return 1 end
		else begin return 0 end;
end
GO
USE [master]
GO

USE ttn_ex3
insert into TheThuVien(SoThe, NgayBatDau, NgayHetHan)
values('TV0001','1996-01-01','2001-01-01');
insert into TheThuVien(SoThe, NgayBatDau, NgayHetHan)
values('TV0002','1997-01-10','2003-01-10');
insert into TheThuVien(SoThe, NgayBatDau, NgayHetHan)
values('TV0003','2001-02-12','2006-02-12');

insert into DocGia(MaDG, TenDocGia, DiaChi,SoThe)
values('DG0001',N'Đỗ Duy Mạnh',N'Hà Nội','TV0010');
insert into DocGia(MaDG, TenDocGia, DiaChi,SoThe)
values('DG0002',N'Trần Đình Trọng',N'Hà Nội','TV0001');
insert into DocGia(MaDG, TenDocGia, DiaChi,SoThe)
values('DG0003',N'Phạm Đức Huy',N'Hà Nội','TV0002');

insert into Sach(MaSach, TenSach, TenTheLoai,TenTacGia,TenNXB,SoLuong)
values('MS0001',N'Làm chủ python 1 tuần',N'lập trình',N'Trung Kiên',N'Kim đồng',100);
insert into Sach(MaSach, TenSach, TenTheLoai,TenTacGia,TenNXB,SoLuong)
values('MS0002',N'Lịch sử Đảng',N'lịch sử',N'Thanh Tùng',N'Văn Lang',60);
insert into Sach(MaSach, TenSach, TenTheLoai,TenTacGia,TenNXB,SoLuong)
values('MS0003',N'Lập trình C#',N'lập trình',N'Văn Hiến',N'Kim đồng',70);

insert into MuonTra(MaMuon, NgayMuon, NgayHenTra,TinhTrang,SoThe)
values('MM0001','1996-01-01','1996-07-01',1,'TV0001');
insert into MuonTra(MaMuon, NgayMuon, NgayHenTra,TinhTrang,SoThe)
values('MM0002','1997-01-10','1997-08-10',1,'TV0002');
insert into MuonTra(MaMuon, NgayMuon, NgayHenTra,TinhTrang,SoThe)
values('MM0003','2002-01-12','2002-09-12',1,'TV0003');

insert into CT_MuonTra(MaMuon, MaSach, NgayTra,Da_Tra)
values('MM0001','MS0003','',0);
insert into CT_MuonTra(MaMuon, MaSach, NgayTra,Da_Tra)
values('MM0002','MS0001','1997-08-05',1);
insert into CT_MuonTra(MaMuon, MaSach, NgayTra,Da_Tra)
values('MM0003','MS0002','2002-09-11',1);




----------Tim kiem Sach--------
--MaHS--
GO
create procedure searchMaSach @MaSach char(10)
as 
begin
	select MaSach, TenSach, TenTheLoai, TenTacGia,
		TenNXB, convert(varchar(10),Sach.SoLuong) as SoLuong
	from Sach
	where MaSach = @MaSach
end
go
exec searchMaSach 'MS0006'

go
--Ten sach--
create procedure searchTenSach @TenSach nvarchar(50)
as 
begin
	select MaSach, TenSach, TenTheLoai, TenTacGia,
		TenNXB, convert(varchar(10),Sach.SoLuong) as SoLuong
	from Sach
	where TenSach = @TenSach
end
go
exec searchTenSach N'Làm chủ 660 TOEIC'
go
--Ten the loai--
create procedure searchTenTheLoai @TenTheLoai nvarchar(50)
as 
begin
	select MaSach, TenSach, TenTheLoai, TenTacGia,
		TenNXB, convert(varchar(10),Sach.SoLuong) as SoLuong
	from Sach
	where TenTheLoai = @TenTheLoai
end
go
exec searchTenTheLoai N'lập trình'
go
--Ten tac gia--
create procedure searchTenTacGia @TenTacGia nvarchar(50)
as 
begin
	select MaSach, TenSach, TenTheLoai, TenTacGia,
		TenNXB, convert(varchar(10),Sach.SoLuong) as SoLuong
	from Sach
	where TenTacGia = @TenTacGia
end
go
exec searchTenTacGia N'Vũ Anh Tú'
go

--Sửa độc giả
create procedure UpdateDocGia 
	@maDocGia char(10),
	@tenDocGia nvarchar(50), 
	@diaChi nvarchar(50),
	@soThe char(10)
as
begin
	update DocGia
	set TenDocGia = @tenDocGia,
	DiaChi = @diaChi,
	SoThe = @soThe
	where MaDG = @maDocGia
end
go

create procedure SelectDocGiaById
	@maDocGia char(10)
as
begin
	select * from DocGia where MaDG = @maDocGia
end
go
create procedure ThemMoiDocGia
	@tenDocGia nvarchar(50),
	@diaChi nvarchar(50),
	@soThe varchar(50)
	
as 
begin
	insert into DocGia
	(
		MaDG,  TenDocGia, DiaChi,SoThe
	)values(
		'MDG' + cast(next value for DocGia_seq as char(4)),
		@tenDocGia,
		@diaChi,
		@soThe
		);

		if @@ROWCOUNT > 0 begin return 1 end
		else begin return 0 end;
end

create procedure ThemTheThuVIen
	@soThe varchar(50),
	@ngayBatDau datetime,
	@ngayHetHan datetime
as
begin
	insert into TheThuVien
	(SoThe, NgayBatDau,NgayHetHan)
	values(@soThe,@ngayBatDau,@ngayHetHan)

	if @@ROWCOUNT > 0 begin return 1 end
		else begin return 0 end;
end
